
* {
  box-sizing: border-box;
}

#emp {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width:fit-content
}

#dev,#area,#assignment {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 5px;
  border: 1px solid black;
  width:fit-content;
}

/* Create two equal columns that floats next to each other */

/* Clear floats after the columns */
row:after {
  content: "";
 display:block; 
  clear: both;
}

tr{
  text-align:justify;         
 }
 
tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

th {
  padding-top: 12px;
  width:fit-content;
  border: 1px solid #ddd;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}







